<div class="container">
    <div *ngFor='let quote of quotes'>
        <div class="quote-holder" *ngIf='quote.id == ind'>
            [style.background = "black"]
            {{ quote.quote }}
        </div>
        <div class="details-section">
            <span>Author:</span><span>{{ quote.author }}</span>
            <br>
            <span>Date Posted:</span><span>{{ quote.date | date }}</span>
            <br>
            <div class="vote-section">
                <span>{{ quote.upvote }}</span><span><i class="fa fa-thumbs-up"></i></span>
                <span>{{ quote.downvote }}</span><span><i class="fa fa-thumbs-down"></i></span>
            </div>
            
        </div>
    </div>
</div>
