<div class="container">
    <div class="the-quote" *ngFor='let quote of quotes; let i = index'>
        <div class="quote-holder">
            {{ quote.quote }}
        </div>
        <div class="details-section">
            <span>Author:</span><span>{{ quote.author }}</span>
            <br>
            <span>Date Posted:</span><span>{{ quote.date | date }}</span>
            <br>
            <hr>
            <div class="vote-section">
                <app-quote-details [quote]='quote'></app-quote-details>
            </div>
            
        </div>
    </div>
</div>
