<div class="container">
    <div class="the-quote" *ngFor='let quote of quotes; let i = index'>
        <div class="quote-holder container">
            {{ quote.quote }}
        </div>
        <div class="details-section">
            <span>Author: </span><span>{{ quote.author }}</span>
            <br>
            <span>Date Posted: </span><span>{{ quote.date | date }}</span>
            <br>
            <hr>
            <div class="vote-section">
                <app-quote-details [quote]='quote' (toDelete) = 'deleteQuote($event, i)'></app-quote-details>
            </div>
            
        </div>
    </div>
</div>
<div class="container">
    <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
</div>
